# Custom files
*.php
javascripts/
stylesheets/

# Websocket files
Websocket
Hosts.dat
Origins.dat

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
